.ripple{
	position:relative;
	overflow:hidden;
	transition-duration:0.4s;
}
.ripple:after{
	content:"";
	background:rgba(255,255,255,0.3);
	display:block;
	position:absolute;
	border-radius:50%;
	padding-top:240%;
	padding-left:240%;
	margin-top:-120%;
	margin-left:-120%;
	opacity:0;
	transition:all 0.8s
}
.ripple:active:after{
	padding-top:0;
	padding-left:0;
	margin-top:0;
	margin-left:0;
	opacity:1;
	transition:0s
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #337CB9;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 40px 60px;
    text-decoration:none;
    color: #FFBB00;
    font-family: Copperplate Gothic Light, sans-serif;
    font-size:20px;
font-weight:900;
}
img {
    display: block;
    text-align: center;
    padding: 0px 40px;
    text-decoration:none;
}
li a:hover{
    background-color: #FFBB00;
color:#337CB9;
text-shadow: 0 0 3px #1F5A8A;
}
.head {
    color: #FFBB00;
    font-family: Impact;
			
}
.head2 {
    color: #FFFFFF;
    font-family: Copperplate Gothic Light, sans-serif;
}